<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.markerhub.Dao.CommentDao">
    <select id="getCommentByBlogId" resultType="com.markerhub.entity.Comment">
        select * from comments  WHERE blog_id = #{blogId} and follow = #{follow}
    </select>


</mapper>