<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.markerhub.Dao.FavoriteDao">
    <insert id="addfavorite" parameterType="com.markerhub.entity.Favorite">
        insert into m_favorite value (#{fid},#{fblogid},#{ftime})
    </insert>
    <delete id="delfavorite" parameterType="com.markerhub.entity.Favorite">
        delete from m_favorite where fid = #{fid} and fblogid = #{fblogid}
    </delete>
    <select id="getfavorite" parameterType="INT" resultType="com.markerhub.entity.Favorite">
        select * from m_favorite where fid = #{id}
    </select>
</mapper>