<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.markerhub.Dao.SubscriptionDao">
    <insert id="addsubscribe" parameterType="com.markerhub.entity.Subscription">
        insert into m_subscription value (#{id},#{sid},#{stime})
    </insert>
    <delete id="delsubscribe" parameterType="com.markerhub.entity.Subscription">
        delete from m_subscription where id = #{id} and sid = #{sid}
    </delete>
    <select id="getsubscribe" resultType="com.markerhub.entity.User">
        select * from m_user where id in
        <foreach collection="idlist" index="index" item="list" open="(" separator="," close=")">
            #{list.sid}
        </foreach>
    </select>
    <select id="getsid" parameterType="int" resultType="com.markerhub.entity.Subscription">
        select * from m_subscription where id = #{id}
    </select>
    <select id="getalluser" resultType="com.markerhub.entity.User">
        select * from m_user
    </select>
    <select id="getALLsubscribe" resultType="com.markerhub.entity.Subscription" parameterType="com.markerhub.entity.User">
        select * from m_subscription where sid = #{id}
    </select>
    <select id="getusersubedlist" resultType="com.markerhub.entity.User">
        select * from m_user where id in
        <foreach collection="sublist" index="index" item="list" open="(" separator="," close=")">
            #{list.id}
        </foreach>
    </select>
</mapper>