<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.markerhub.Dao.UserinfoDao">
    <update id="renewinfo" parameterType="com.markerhub.entity.User">
        update m_user set username = #{username}, avatar = #{avatar}, email = #{email} where id = #{id}
    </update>
    <select id="getinfo" parameterType="Long" resultType="com.markerhub.entity.User">
        select * from m_user where id = #{id}
    </select>

    <select id="getSimilarUser" parameterType="String" resultType="com.markerhub.entity.User">
        select  *  from m_user where username LIKE '%${username}%'
    </select>
</mapper>